<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <main>
        <section class="top">
                <section class="information">
                    <h1>
                        Discover the beauty around the world
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos natus, debitis, nostrum officiis iusto rem iste culpa distinctio libero consequatur animi repudiandae quam voluptate enim ipsum sapiente, minima esse.
                    </p>
                    <a href="#">
                        Get started
                    </a>
                </section>
                <section class="images__top">
                    <figure class="image__left"><img src="../src/storage/img/page-2/Image left.png" alt=""> </figure>
                    <figure class="image__right"><img src="../src/storage/img/page-2/Image right.png" alt=""> </figure>
                </section>
        </section>
        <section class="bottom">
            <section class="images__bottom">
                <div class="div__1">
                    <p>01</p>
                    <img src="../src/storage/img/page-2/1.png" alt="">
                </div>
                <div class="div__2">
                    <p>02</p>
                    <img src="../src/storage/img/page-2/2.png" alt="">
                </div>
                <div class="div__3">
                    <p>03</p>
                    <img src="../src/storage/img/page-2/3.png" alt="">
                </div>
            </section>
        </section>
    </main>
</body>
</html>