<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagr 1</title>
    <link rel="stylesheet" href="../src/css/page-10.css">
</head>
<body>
    <main>
        <section class="left">
            <h1>
                <span class="color1">Design.</span> <br>
                <span class="color2">Create.</span> <br>
                <span class="color3">Inspire.</span>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <a href="#">Explore</a>
        </section>
        <section class="right">
            <div class="column_1">
                <img src="../src/storage/img/page-10/1.png" alt="">
                <img src="../src/storage/img/page-10/2.png" alt="">
                <img src="../src/storage/img/page-10/3.png" alt="">
                <img src="../src/storage/img/page-10/4.png" alt="">
            </div>
            <div class="column_2">
                <img src="../src/storage/img/page-10/5.png" alt="">
                <img src="../src/storage/img/page-10/6.png" alt="">
                <img src="../src/storage/img/page-10/7.png" alt="">
                <img src="../src/storage/img/page-10/8.png" alt="">
            </div>
            <div class="column_3">
                <img src="../src/storage/img/page-10/9.png" alt="">
                <img src="../src/storage/img/page-10/10.png" alt="">
                <img src="../src/storage/img/page-10/11.png" alt="">
                <img src="../src/storage/img/page-10/12.png" alt="">
            </div>
            <div class="column_4">
                <img src="../src/storage/img/page-10/13.png" alt="">
                <img src="../src/storage/img/page-10/14.png" alt="">
                <img src="../src/storage/img/page-10/15.png" alt="">
                <img src="../src/storage/img/page-10/16.png" alt="">
            </div>
        </section>
    </main>
</body>
</html>