<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 14</title>
</head>
<body>
    <main>
        <section class="left">
            <div class="title">
                <h1>Listen to yourself <br> Follow your heart</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <a href="#">Download the App</a>
            </div>
            <div class="subinformation">
                <div>
                    <h3>4.9</h3>
                    <img src="../src/storage/img/page-14/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div>
                    <h3>4.9</h3>
                    <img src="../src/storage/img/page-14/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div>
                    <h3>4.9</h3>
                    <img src="../src/storage/img/page-14/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
            </div>
        </section>
        <section class="right">
            <img src="../src/storage/img/page-14/phone.png" alt="">
            <img src="../src/storage/img/page-14/figure-brown.png" alt="">
            <img src="../src/storage/img/page-14/figure-yellow.png" alt="">
            <div class="background_1">
                <img src="../src/storage/img/page-14/star-inclined.png" alt="">
            </div>
            <div class="background_2">
                <img src="../src/storage/img/page-14/star.png" alt="">
                <img src="../src/storage/img/page-14/Heart.png" alt="">
            </div>
            
        </section>
    </main>
</body>
</html>