<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 15</title>
    <link rel="stylesheet" href="../src/css/page-15.css">
</head>
<body>
    <main>
        <section class="main__titulo">
            <h1>Adventure <br> Voyage <br> Wandering</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi. </p>
            <a href="">Get started</a>
            <img src="../src/storage/img/page-15/Star.png" alt="">
        </section>
        <section class="image__left">
            <img src="../src/storage/img/page-15/image-left-bottom.png" alt="">
            <img src="../src/storage/img/page-15/image-left-top.png" alt="">
        </section>
        <section class="middle">
            <img src="../src/storage/img/page-15/image-middle.png" alt="">
        </section>
        <section class="image__right">
            <img src="../src/storage/img/page-15/image-right-top.png" alt="">
            <img src="../src/storage/img/page-15/image-right-bottom.png" alt="">
            <img src="../src/storage/img/page-15/Star.png" alt="">
        </section>
        <section class="subinformation">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. 
                Et integer facilisi </p>
            <h2>Trave <br>
                Explore <br>
                Discover</h2>
        </section>
    </main>
</body>
</html>