<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 6</title>
    <link rel="stylesheet" href="../src/css/page-6.css">
</head>
<body>
    <main>
        <section class="left">
            <section class="logo">
                <img src="../src/storage/img/page-6/Clock.png" alt="">
            </section>
            <section class="main">
                <h1>THE eWatch with the newest microchip technology</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</h3>
                <nav class="buttons">
                    <a href="#">Order now</a>
                    <a href="#">Explore more</a>
                </nav>
            </section>
            <section class="sub_information">
                <div class="div_1">
                    <img src="../src/storage/img/page-6/Sun.png" alt="">
                    <p>Lorem ipsu <br>dolor amet</p>
                </div>
                <div class="div_2">
                    <img src="../src/storage/img/page-6/star-icon.png" alt="">
                    <p>Lorem ipsu <br>dolor amet</p>
                </div>
                <div class="div_3">
                    <img src="../src/storage/img/page-6/eye-icon.png" alt="">
                    <p>Lorem ipsu <br>dolor amet</p>
                </div>
                <div class="div_4">
                    <img src="../src/storage/img/page-6/global-icon.png" alt="">
                    <p>Lorem ipsu <br>dolor amet</p>
                </div>
            </section>
        </section>
        <section class="right">
            <img src="../src/storage/img/page-6/Star-deco-2.png" alt="">
            <img src="../src/storage/img/page-6/Star-deco.png" alt="">
            <section class="images">
                <div class="frame">
                    <div class="frame_2"></div>
                </div>
                <img src="../src/storage/img/page-6/main-image.png" alt="">
            </section>
            <p>Award winning product</p>
            <p>Ergonomic design</p>

        </section>

    </main>
</body>
</html>