<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 12</title>
    <link rel="stylesheet" href="../src/css/page-12.css">
</head>
<body>
    <main>
        <section class="images">
            <img src="../src/storage/img/page 12/images.png" alt="">
        </section>
        <section class="decoration">
            <img src="../src/storage/img/page 12/shapes.png" alt="">
        </section>
        <section class="title">
            <h1>Discover. <br> Explore. <br> Inspire.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <a href="#">Explore</a>
        </section>
        <section class="experience">
            <img src="../src/storage/img/page 12/profile-picture.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        </section>
    </main>
</body>
</html>