<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="../src/css/page-1.css">
</head>
<body>
    <main>
        <div class="page_1">
            <div class="information">
                <h1>Discover the beauty around the world</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</h3>
                <a href="#">Explore</a>
            </div>
            <div class="upper_row">
                <div class="img_1"><img src="../src/storage/img/page-1/1.png" alt=""></div>
                <div class="img_2"><img src="../src/storage/img/page-1/2.png" alt=""></div>
                <div class="img_3"><img src="../src/storage/img/page-1/3.png" alt=""></div>
                <div class="img_4"><img src="../src/storage/img/page-1/4.png" alt=""></div>
            </div>
            <div class="lower_row">
                <div class="img_5"><img src="../src/storage/img/page-1/5.png" alt=""></div>
                <div class="img_6"><img src="../src/storage/img/page-1/6.png" alt=""></div>
                <div class="img_7"><img src="../src/storage/img/page-1/7.png" alt=""></div>
                <div class="img_8"><img src="../src/storage/img/page-1/8.png" alt=""></div>
            </div>

        </div>
    </main>
</body>
</html>