<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 7</title>
    <link rel="stylesheet" href="../src/css/page-7.css">
</head>
<body>
    <header>
        <h1>Design is the way how <br> you express the feelings</h1>
    </header>
    <main>
            <div class="container__1">
                <div class="text">
                    <h2>01</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                
                <div class="card">
                    <img src="../src/storage/img/page-7/Frame-1.png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>                
            </div>

            <div class="container__2">
                <div class="text">
                    <h2>02</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/img/page-7/Frame-2.png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
            </div>
            <div class="container__3">
                <div class="text">
                    <h2>03</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/img/page-7/Frame-3.png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
                
            </div>
            <div class="container__4">
                <div class="text">
                    <h2>04</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="card">
                    <img src="../src/storage/img/page-7/Frame-4.png" alt="">
                    <div class="overlay">
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Faucibus in libero risus</p>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>