@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    padding-top: 67px;
}

.image{
    height: 932px;
    width: 716px;
}