@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 53px;
    padding: 67px 64px 67px 132px;
    grid-template-areas: "info images";
    background-color: var(--color-17);
}

.left{
    display: flex;
    flex-direction: column;
    grid-area: info;
    justify-content: center;
    align-items: left;
    gap: 24px;
}

.left h1{
    font-family: "Poppins-Bold";
    font-size: 72px;
}
.color1{
    color: var(--color-18);
}

.color2{
    color: var(--color-19);
}

.color3{
    color: var(--color-20);
}

.left p{
    font-size: 24px;
    font-family: "Poppins-Regular";
    color: var(--color-1);
}

.left a{
    text-decoration: none;
    padding: 24px 48px;
    background-color: var(--color-1);
    width: fit-content;
    border-radius: 60px;
    color: var(--color-21);
    font-family: "Poppins-Regular";
    font-size: 24px;
}


.right{
    display: grid;
    grid-area: images;
    justify-content: center;
    align-items: center;
    gap: 18px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "col1 col2 col3 col4";
}

.column_1{
    grid-area: col1;
}
.column_2{
    grid-area: col2;
}
.column_3{
    grid-area: col3;
}
.column_4{
    grid-area: col4;
}